* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
}


.card {
    width: 340px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-bottom: 25px;
}


.banner {
    width: 100%;
    height: 100px;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
}


.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 5px solid rgb(225, 237, 226);
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}


.info {
    margin-top: 80px;
    padding: 10px;
}

.info h2 {
    color: #333;
    margin-bottom: 5px;
}

.info p {
    color: #777;
    font-size: 14px;
}


.skills {
    display: flex;
    justify-content: space-around;
    margin: 15px 20px;
}

.skill {
    background: #f1f1f1;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
}


.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

button {
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

.follow {
    background-color: #4e73df;
    color: white;
}

.message {
    background-color: #181718;
    color: white;
}

button:hover {
    opacity: 0.85;
}